* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  height: 100%;
  background-color: lightblue;
  color: black;
}

.kanban {
  display: flex;
}

.kanbanList {
  min-width: 10em;
  list-style: none;
  padding: 1em 1em 1em 1em;
  display: inline-table;
  border: 1px solid black;
  margin: .625em;
  overflow-y: visible;
}

.kanbanItemContainer {
  padding: .5em;
  display: block;
  min-width: 100%;
}

.kanbanListHeader {
  padding: .625em 1em;
  border-bottom: 1px solid black;
}

  .kanbanListHeade h4, .kanbanItem h5 {
      padding: 0;
      margin: 0;
  }

.kanbanItem {
  padding: .5em 0;
  margin: 0 0 .5em 0;
  display: block;
  min-width: 100%;
  border: 1px solid black;
  background-color: lightskyblue;
  color: purple;
}